<p>listbooks works!</p>
<!-- <div class="container">
    <div *ngFor="let book of books">
        <p>{{book.id}}</p>
        <p>{{book.title}}</p>
        <p>{{book.Athor}}</p>
        <p>{{book.Edition}}</p>
    </div>
</div> -->
<h1 class="h2">Add New Student</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input type="hidden" name="id" ngModel #id='ngModel' [(ngModel)]="service.formData.id">
    <div class="form-group">
        <input type="text" ngModel name="fullName" [(ngModel)]="service.formData.fullName" #fullName="ngModel" minlength="3" required class="form-control" placeholder="FullName">
        <div *ngIf="fullName.touched && fullName.invalid" class="alert alert-danger mt-1">Name is required</div>
    </div>
    <div class="form-group">
        <input type="text" ngModel name="department" [(ngModel)]="service.formData.department" required #department="ngModel" class="form-control" placeholder="Department">
        <div *ngIf="department.touched && department.invalid" class="alert alert-danger mt-1">Department is required</div>
    </div>
    <div class="form-group">
        <input type="text" ngModel name="country" [(ngModel)]="service.formData.country" #country="ngModel" required class="form-control" placeholder="Country">
        <div *ngIf="country.touched && country.invalid" class="alert alert-danger mt-1">Department is required</div>
    </div>
    <div class="form-group">
        <input type="number" ngModel name="contact" #contact="ngModel" [(ngModel)]="service.formData.contact" required class="form-control" placeholder="Contact">
        <div *ngIf="contact.touched && contact.invalid" class="alert alert-danger mt-1">Contact is required</div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="f.invalid" class="btn btn-lg btn-block btn-primary">Add Student</button>
    </div>
</form>